<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AdminLoginValidation</display-name>
    <servlet-name>AdminLoginValidation</servlet-name>
    <servlet-class>com.example.controller.AdminLoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginValidation</servlet-name>
    <url-pattern>/AdminLoginValidation</url-pattern>
  </servlet-mapping>
  <display-name>FullstackEcommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCategoryController</display-name>
    <servlet-name>AddCategoryController</servlet-name>
    <servlet-class>com.example.controller.AddCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryController</servlet-name>
    <url-pattern>/AddCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCategoryController</display-name>
    <servlet-name>ViewCategoryController</servlet-name>
    <servlet-class>com.example.controller.ViewCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategoryController</servlet-name>
    <url-pattern>/ViewCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryController</display-name>
    <servlet-name>DeleteCategoryController</servlet-name>
    <servlet-class>com.example.controller.DeleteCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryController</servlet-name>
    <url-pattern>/DeleteCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryController</display-name>
    <servlet-name>EditCategoryController</servlet-name>
    <servlet-class>com.example.controller.EditCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryController</servlet-name>
    <url-pattern>/EditCategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>com.example.controller.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/UpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.example.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.example.controller.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationServlet</display-name>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <servlet-class>com.example.controller.CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <url-pattern>/CustomerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.example.controller.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginValidation</display-name>
    <servlet-name>CustomerLoginValidation</servlet-name>
    <servlet-class>com.example.controller.CustomerLoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginValidation</servlet-name>
    <url-pattern>/CustomerLoginValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomersServlet</display-name>
    <servlet-name>AddCustomersServlet</servlet-name>
    <servlet-class>com.example.controller.AddCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomersServlet</servlet-name>
    <url-pattern>/AddCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoWishListServlet</display-name>
    <servlet-name>AddtoWishListServlet</servlet-name>
    <servlet-class>com.example.controller.AddtoWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoWishListServlet</servlet-name>
    <url-pattern>/AddtoWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartServlet</display-name>
    <servlet-name>AddtoCartServlet</servlet-name>
    <servlet-class>com.example.controller.AddtoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartServlet</servlet-name>
    <url-pattern>/AddtoCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishListServlet</display-name>
    <servlet-name>DeleteWishListServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishListServlet</servlet-name>
    <url-pattern>/DeleteWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUploadImageServlet</display-name>
    <servlet-name>CustomerUploadImageServlet</servlet-name>
    <servlet-class>com.example.controller.CustomerUploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUploadImageServlet</servlet-name>
    <url-pattern>/CustomerUploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerProfileServlet</display-name>
    <servlet-name>EditCustomerProfileServlet</servlet-name>
    <servlet-class>com.example.controller.EditCustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerProfileServlet</servlet-name>
    <url-pattern>/EditCustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishlistCartServlet</display-name>
    <servlet-name>DeleteWishlistCartServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteWishlistCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishlistCartServlet</servlet-name>
    <url-pattern>/DeleteWishlistCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerProfileServlet</display-name>
    <servlet-name>UpdateCustomerProfileServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateCustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerProfileServlet</servlet-name>
    <url-pattern>/UpdateCustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishlistServlet</display-name>
    <servlet-name>DeleteWishlistServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishlistServlet</servlet-name>
    <url-pattern>/DeleteWishlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomersServlet</display-name>
    <servlet-name>DeleteCustomersServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomersServlet</servlet-name>
    <url-pattern>/DeleteCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeProfile</display-name>
    <servlet-name>EditEmployeeProfile</servlet-name>
    <servlet-class>com.example.controller.EditEmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeProfile</servlet-name>
    <url-pattern>/EditEmployeeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadEmployeeImageServlet</display-name>
    <servlet-name>UploadEmployeeImageServlet</servlet-name>
    <servlet-class>com.example.controller.UploadEmployeeImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadEmployeeImageServlet</servlet-name>
    <url-pattern>/UploadEmployeeImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.example.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerOrderStatusServlet</display-name>
    <servlet-name>UpdateCustomerOrderStatusServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateCustomerOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateCustomerOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRatingServlet</display-name>
    <servlet-name>AddRatingServlet</servlet-name>
    <servlet-class>com.example.controller.AddRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRatingServlet</servlet-name>
    <url-pattern>/AddRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRatingsServlet</display-name>
    <servlet-name>AddRatingsServlet</servlet-name>
    <servlet-class>com.example.controller.AddRatingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRatingsServlet</servlet-name>
    <url-pattern>/AddRatingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRatingServlet</display-name>
    <servlet-name>DeleteRatingServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRatingServlet</servlet-name>
    <url-pattern>/DeleteRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRatingServlet</display-name>
    <servlet-name>UpdateRatingServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRatingServlet</servlet-name>
    <url-pattern>/UpdateRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeedbackServlet</display-name>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <servlet-class>com.example.controller.AddFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedbackServlet</servlet-name>
    <url-pattern>/AddFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedbackServlet</display-name>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <url-pattern>/DeleteFeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>